{
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "plugin:import/recommended", "prettier"],
  "rules": {
    "no-await-in-loop": "off",
    "no-console": 0,
    "import/prefer-default-export": "off"
  }
}
