{
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-await-in-loop": "off",
    "no-console": 0,
    "import/prefer-default-export": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
