{
  "extends": "airbnb-base",
  "rules": {
    "new-cap": 0,
    "no-console": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_ethersType",
          "_eventName",
          "_execs",
          "_hex",
          "_name",
          "_subscribe"
        ]
      }
    ],
    "no-template-curly-in-string": "off",
    "max-len": "off"
  }
}
