{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "default-param-last": "off",
    "new-cap": 0,
    "no-console": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_args",
          "_ethersType",
          "_eventName",
          "_execs",
          "_hex",
          "_name",
          "_options",
          "_signTypedData",
          "_subscribe",
          "_chainId",
          "_contracts",
          "_bridgedContracts",
          "_enterpriseSwapContracts",
          "_chainConfDefaults",
          "_bridgedConf"
        ]
      }
    ],
    "no-template-curly-in-string": "off",
    "max-classes-per-file": "off",
    "max-len": "off"
  }
}
