Package: xwhep-client
Version: 10.5.2-1
Section: desktopgrid
Priority: optional
Architecture: all
Depends:
Suggests:
Conflicts:
Replaces:
Installed-Size:
Maintainer: Oleg Lodygensky <oleg.lodygensky@lal.in2p3.fr>
Description: XWHEP is a global computing platform based on XtremWeb, aiming not only to aggregate volunteer
 computing power but also proposing this new power to all user.
 In top of XtremWeb, XWHEP proposes new features such as data management, authentication based on X509 certificate, authorization, access rights and inter grid connections.
 .
 This is a three tiers acrchitecture platform composed of a centralized server, and distributed
 workers and clients.
 .
 The worker part of the platform is distributed on volunteer PCs in order to aggregate their
 idle time CPU power.
 .
 The client part of the platform is distributed to end user of the platform; this part
 helps to manage jobs and datas as well as to manage the platform itself.
 .
 This package installs the client part.
 .
 This platform is distributed under GPL license and provided "as is".
 Use it at your own risk.
