name: PR test

on: [pull_request]

permissions:
  # Allows the workflow to write pull request comments (required for dependabot in docker-dry-run job)
  # https://docs.github.com/en/code-security/dependabot/troubleshooting-dependabot/troubleshooting-dependabot-on-github-actions#changing-github_token-permissions
  pull-requests: write

concurrency:
  group: ${{ github.ref }}-pr-test
  cancel-in-progress: true

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci && npm run codegen

      - name: Check format
        run: npm run check-format

      - name: Lint
        run: npm run lint

  test:
    uses: ./.github/workflows/reusable-test.yml
    with:
      node-version: '20'
      upload-coverage: true
    secrets:
      infura-project-id: ${{ secrets.INFURA_PROJECT_ID }}
      etherscan-api-key: ${{ secrets.ETHERSCAN_API_KEY }}
      alchemy-api-key: ${{ secrets.ALCHEMY_API_KEY }}

  test-supported-node-versions:
    uses: ./.github/workflows/reusable-test.yml
    # for release PR run tests on all supported node versions
    if: startsWith(github.head_ref,'release-please--')
    strategy:
      matrix:
        node-version: ['22', '24']
    with:
      node-version: ${{ matrix.node-version }}
    secrets:
      infura-project-id: ${{ secrets.INFURA_PROJECT_ID }}
      etherscan-api-key: ${{ secrets.ETHERSCAN_API_KEY }}
      alchemy-api-key: ${{ secrets.ALCHEMY_API_KEY }}

  # sonar:
  #   runs-on: ubuntu-latest
  #   needs: test
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: '20'
  #         cache: 'npm'

  #     - name: Install dependencies
  #       run: npm ci && npm run codegen

  #     - uses: actions/download-artifact@v4
  #       with:
  #         artifact-ids: ${{ needs.test.outputs.coverage-artifact-id }}

  #     - name: SonarScanner
  #       uses: SonarSource/sonarqube-scan-action@v5.1.0
  #       env:
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #         SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  npm-dry-run:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      dry-run: true

  docker-dry-run:
    uses: ./.github/workflows/reusable-docker.yml
    with:
      dry-run: true
